@{
    ViewData["Title"] = "Inicio Navegación";
}

<div class="container">
    <div class="row text-center">
        <div class="col-md-4 mb-4">
            <div class="card border-primary">
                <img src="~/images/profesor.jpeg" class="card-img-top" alt="Profesores">
                <div class="card-body">
                    <h5 class="card-title">Profesores</h5>
                    <p class="card-text">Administrar información profesores.</p>
                    <a href="@Url.Action("Index", "Profesores")" class="btn btn-primary">Ir a Profesores</a>
                </div>
            </div>
        </div>
       
    
    </div>
</div>
